#seed .reveal .hidden {
  display: none
}

section .box-blue,
section .box-green,
section .box-gray,
section .box-yellow,
section .box-white,
section .box-orange {
  padding: 20px;
}

section .box-blue {
  background: url(/files/backgrounds/RGB101133D8.svg);
}
section .box-green {
  background: url(/files/backgrounds/RGB071707D8.svg);
}
section .box-gray {
  background-color: rgba(145, 145, 145, 0.1);
  border-radius: 5px;
}
section .box-yellow {
  background: url(/files/backgrounds/RGB37371AC1.svg);
}
section .box-white {
  background: url(/files/backgrounds/RGBE6E6E645.svg);
}
section .box-orange {
  border: 1px solid #ff6f1b;
  box-shadow: 5px 8px #ff6f1b;
  color:black;
}
section .item-list.subitem {
  font-size: smaller;
  margin-left: 1.5em;
}
section .item-list span {
  color: #ff6f1b;
  opacity: 0.7;
}

.url {
  color: #e85519;
}

.reveal section img {
  background: none;
  border: 0;
  box-shadow: none;
}

.reveal section img.big {
  max-height: 11em;
}

.reveal .slide-number {
  background-color: #ff6f1b;
  opacity: 0.6;
}

.reveal .cite {
  font-size: 22px;
  margin-top: 15px;
  color: #222;
}

.reveal .progress {
  color: #ff6f1b;
}

.reveal .table {
  font-size: 30px;
}

/* Slides template styles */
/* ----------------------------------------------------------*/

section img.logo {
  max-height: 3em;
  margin: 0px 20px;
}
section header img.logo {
  max-height: 2em;
  margin: 0px 0px;
}
section img.contributions {
  max-height: 6em;
  margin: 0px 20px;
}
section p.authors {
  font-size: 0.5em;
}

header { 
  position: absolute;
  top: 0em;
  left: 0px;
} 
header .capa { 
  position: absolute;
  top: -4em;
  width: 100%;
  text-align: center;
}
.reveal header.subsection {
  display: none;
}

.reveal h3.subsection {
  margin-left: 0em;
  padding-left: 2em;
  font-size: 0.6em;
  color: #3d3d3d;
  background-image: url(/files/slides/seed.png);
  background-repeat: no-repeat;
  background-position: 0em;
  background-size: contain;
}
h3.subsection:before {
  width   : 15%;
}

.reveal footer p {
  text-align: center;
}

.reveal,
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: #333;
}
.reveal h3 {
  text-align: left;
  margin-left: 2em;
}

h3:before {
  content : "";
  position: absolute;
  left    : 2em;
  top  : 10px;
  height  : 3px;
  width   : 25%;
  border-bottom: 3px solid #ff6f1b;
}

.reveal h4 {
  color: #e85519;
}

.reveal p {
  text-align: left;
}

.reveal p.center {
  text-align: center;
}

.reveal .controls {
  color: #e85519;
}

.reveal .crono {
  float: left;
  background-color: white;
}

.reveal .crono.right{
  border-left: 1px dotted #e85519;
}

.cronoimage {
  float: right;
}
