<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="home">
    {% include header.html %}
    <div class="page-content">
        <div class="wrap">
        <header class="page-header">
            <img class='profile-pic' src="/assets/img/profile.jpg" alt="Profile picture">
            <div class="social-links">
                {% for link in site.data.links %}
                    <a href="{{ link.url }}" target="_blank">{{ link.name }}</a></br>
                {% endfor %}
            </div>
        </header>
        <h1>{{ page.title | default: site.github.repository_name }}</h1>
        {{ content }}
        </div>
        {% include footer.html %}
    </div>
</body>
</html>
